<div class="expander">
    <span class="glyphbox docollapse" onclick="onSecondryExpanderClick()">&#xe686</span>
    <span class="glyphbox doexpand" onclick="onSecondryExpanderClick()">&#xe684</span>
    <span class="glyphbox pin" onclick="onSecondryPinClick()">&#xe69b</span>
    <span class="clearbox"></span>
</div>
<div id="secondry_content"></div>

<script type="text/javascript">
    function onSecondryExpanderClick() {
        $('.secondry-content').toggleClass('tie-secondry');

        if ($('.mainpart-con').hasClass('pin-secondry')) {
            $('.secondry-content').removeClass('pin-secondry');
            $('.mainpart-con').removeClass('pin-secondry');
        }
    }

    function onSecondryPinClick() {
        $('.secondry-content').toggleClass('pin-secondry');
        $('.mainpart-con').toggleClass('pin-secondry');
    }
</script>
