@if (ViewBag.ErrorMessage != null)
{
    <div class="panel panel-danger">
        <div class="panel-heading">خطا</div>
        <div class="panel-body">
            @ViewBag.ErrorMessage
        </div>
    </div>
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="panel panel-success">
        <div class="panel-heading">موفقیت</div>
        <div class="panel-body">
            @ViewBag.SuccessMessage
        </div>
    </div>
}

@if (ViewBag.JsMethod != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JsMethod)
    </script>
}