@model Squirrel.Web.Models.ErrorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="col-md-12">
        <div class="divider-blank50"></div>
    </div>
    @Html.Partial("_HandledError", Model)
</div>