<div class="popup-con">
    <div class="alertbox">
        <div class="question"></div>
        <div class="choice">
            <div class="yes">تائید</div>
            <div class="no">انصراف</div>
        </div>
    </div>
    
    <div class="dynamic-content">
        @Html.Hidden("PopBoxId", null)
        <div class="topic"></div>
        <div class="content" id="popup_content_con"></div>
    </div>
</div>
