@model Squirrel.Domain.ViewModels.AccountLoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <p>
        User : @Html.TextBoxFor(m => m.Username)
    </p>
    <p>
        Password : @Html.PasswordFor(m => m.Password)
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
}

