@using Squirrel.Utility.FarsiTools
<div class="footer">
    <div class="col-xs-6 copyright">
        © سایت
        <span class="important">سنجاب</span>
        -
        @(((PersianDate)DateTime.Now).Year.FaDigit())
    </div>
    <div class="col-xs-6 poweredby">
        ایجاد شده توسط
        <span class="important">بهنام ضیغمی</span>
    </div>
</div>
