<div class="header">
    <div class="col-sm-6 col-xs-8 logo-con">
        <div class="logo">
            <img src="~/Content/themes/vone/images/Logo.svg" />
        </div>
        <div class="sitename">
            <div class="name">
                نـام سـایت
            </div>
            <div class="desc">
                وبـلاگ شـخصی
            </div>
        </div>
        <div class="menu-opener glyphbox">&#xe688</div>
        <div class="clearbox"></div>
    </div>
    <div class="col-sm-6 hidden-xs search-con">
        <div class="textpackage with-tail">
            @Html.TextBox("searchText", null, new { @class = "textbox", @placeholder = "جستجو" })
            <span class="tail glyphbox activeflat">&#xe618</span>
        </div>
    </div>
    <div class="col-xs-4 visible-xs search-con">
        <div class="textpackage with-tail full">
            @Html.TextBox("searchText", null, new { @class = "textbox", @placeholder = "", id="xsmallsearchbox" })
            <span class="tail glyphbox activeflat">&#xe618</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#xsmallsearchbox').on('focusin', function() {
        $('.logo-con').hide();
        $(this).parent().parent().addClass('col-xs-12').removeClass('col-xs-4');
    });
    $('#xsmallsearchbox').on('focusout', function() {
        $('.logo-con').show();
        $(this).parent().parent().removeClass('col-xs-12').addClass('col-xs-4');
    });
</script>
