@using Squirrel.Web.Models
<div class="row">
    <div class ="col-sm-5">
        <div class="header-logo">
            <span class="sitename">
                سنجاب
            </span>
            <span class="logo">
                &#xe600
            </span>
            <span class="site-description">
                وبلاگ شخصی
            </span>
        </div>
    </div>
    <div class ="col-sm-7 hidden-xs">
        <div class="header-menu">
            <div class="item glyphbox">&#xe618</div>
            @foreach (var cat in CachedAppData.PublishedMainCategories.Items.OrderBy(x => x.ChildTopicCount + x.TopicCount))
            {
                var item = cat;
                <div class="item">@Html.DisplayFor(m => item.Name)</div>
            }
            <div class="item glyphbox">&#xe648</div>
            <div class="clearbox"></div>
        </div>
    </div>
</div>