<div class="row">
    <div class ="col-sm-5">
        <div class="header-logo">
            <span class="sitename">
                سنجاب
            </span>
            <span class="logo">
                &#xe600
            </span>
            <span class="site-description">
                وبلاگ شخصی
            </span>
        </div>
    </div>
    <div class ="col-sm-7">
        <div class="header-menu">
            <div class="item glyphbox">&#xe618</div>
            <div class="item">بازی</div>
            <div class="item">برنامه نویسی</div>
            <div class="item">تکنولوژی</div>
            <div class="item">فیلم</div>
            <div class="item glyphbox">&#xe648</div>
            <div class="clearbox"></div>
        </div>
    </div>
</div>