@using Squirrel.Utility.FarsiTools
@using Squirrel.Web.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "خطا";
}

<div class="col-md-12">
    <div class="col-md-12">
        <div class="divider-blank50"></div>
        @Html.Partial("_HandledError", new ErrorViewModel
        {
            Topic = "خطای 404 !".FaDigit(),
            Message = "صفحه موردنظر شما در سایت یافت نشد."
        })
    </div>
</div>

