@font-face {
  font-family: 'SegoeUi';
  src: url('fonts/SegoeUI/segoeui.eot?#iefix') format('embedded-opentype'),
       url('fonts/SegoeUI/segoeui.woff') format('woff'),
       url('fonts/SegoeUI/segoeui.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SegoeUi-sLight';
    src: url('Fonts/SegoeUI/segoeuisl.eot');
    src: url('Fonts/SegoeUI/segoeuisl.woff') format('woff'),
         url('Fonts/SegoeUI/segoeuisl.ttf') format('truetype'),
         url('Fonts/SegoeUI/segoeuisl.eot') format('embedded-opentype'),
         url('Fonts/SegoeUI/segoeuisl.svg#SegoeUISemilight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRYekan';
    src: url('fonts/IRYekan/iryekan.woff') format('woff'),
       url('fonts/IRYekan/iryekan.ttf') format('truetype'),
       url('fonts/IRYekan/iryekan.eot?#iefix') format('embedded-opentype'),
       url('fonts/IRYekan/iryekan.svg#IRYekan') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'IRYekan';
  src: url('fonts/IRYekan/iryekanbold.woff') format('woff'),              
       url('fonts/IRYekan/iryekanbold.ttf') format('truetype'),
       url('fonts/IRYekan/iryekanbold.eot?#iefix') format('embedded-opentype'),
       url('fonts/IRYekan/iryekanbold.svg#IRYekanBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'IRNazanin';
    src: url('fonts/IRNazanin/irnazaninregular.woff') format('woff'),
       url('fonts/IRNazanin/irnazaninregular.ttf') format('truetype'),
       url('fonts/IRNazanin/irnazaninregular.eot?#iefix') format('embedded-opentype'),
       url('fonts/IRNazanin/irnazaninregular.svg#IRNazanin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'IRNazanin';
  src: url('fonts/IRNazanin/irnazaninbold.woff') format('woff'),              
       url('fonts/IRNazanin/irnazaninbold.ttf') format('truetype'),
       url('fonts/IRNazanin/irnazaninbold.eot?#iefix') format('embedded-opentype'),
       url('fonts/IRNazanin/irnazaninbold.svg#IRNazaninBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'irsans';
  src: url('fonts/IRSans/IIRANSansLE.eot?#') format('eot'),   
       url('fonts/IRSans/IIRANSansLE.woff2') format('woff2'), 
       url('fonts/IRSans/IIRANSansLE.woff') format('woff'),
       url('fonts/IranSansZ/iransansz-webfont.svg#IranSansZ') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'irsans';
  src: url('fonts/IRSans/IRANSansB.eot?#') format('eot'),   
       url('fonts/IRSans/IRANSansB.woff2') format('woff2'), 
       url('fonts/IRSans/IRANSansB.woff') format('woff'),
       url('fonts/IranSansZ/iransansz-webfont.svg#IranSansZ') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'irsansz';
  src: url('fonts/IranSansZ/iransansz-webfont.woff') format('woff'),              
       url('fonts/IranSansZ/iransansz-webfont.ttf') format('truetype'),
       url('fonts/IranSansZ/iransansz-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/IranSansZ/iransansz-webfont.svg#IranSansZ') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRYekanSL';
  src: url('fonts/IRYekan/iryekansl.woff') format('woff'),
       url('fonts/IRYekan/iryekansl.ttf') format('truetype'),
       url('fonts/IRYekan/iryekansl.eot?#iefix') format('embedded-opentype'),
       url('fonts/IRYekan/iryekansl.svg#WeblogmaYekanRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Pe7';
	src:url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot');
	src:url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot?#iefix') format('embedded-opentype'),
		url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.woff') format('woff'),
		url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.ttf') format('truetype'),
		url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.svg?#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}