@font-face {
  font-family: 'SegoeUi';
  src: url('fonts/SegoeUI/segoeui.eot?#iefix') format('embedded-opentype'),
       url('fonts/SegoeUI/segoeui.woff') format('woff'),
       url('fonts/SegoeUI/segoeui.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SegoeUi-sLight';
    src: url('Fonts/SegoeUI/segoeuisl.eot');
    src: url('Fonts/SegoeUI/segoeuisl.woff') format('woff'),
         url('Fonts/SegoeUI/segoeuisl.ttf') format('truetype'),
         url('Fonts/SegoeUI/segoeuisl.eot') format('embedded-opentype'),
         url('Fonts/SegoeUI/segoeuisl.svg#SegoeUISemilight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'irsans';
  src: url('fonts/IRSans/IRANSans.eot?#') format('eot'),   
       url('fonts/IRSans/IRANSans.woff2') format('woff2'), 
       url('fonts/IRSans/IRANSans.woff') format('woff'),
       url('fonts/IranSansZ/iransansz-webfont.svg#IranSansZ') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'irsans';
  src: url('fonts/IRSans/IRANSansB.eot?#') format('eot'),   
       url('fonts/IRSans/IRANSansB.woff2') format('woff2'), 
       url('fonts/IRSans/IRANSansB.woff') format('woff'),
       url('fonts/IranSansZ/iransansz-webfont.svg#IranSansZ') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'irsans';
  src: url('fonts/IRSans/IRANSansUL.eot?#') format('eot'),   
       url('fonts/IRSans/IRANSansUL.woff2') format('woff2'), 
       url('fonts/IRSans/IRANSansUL.woff') format('woff'),
       url('fonts/IranSansZ/iransansz-webfont.svg#IranSansZ') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'irsans';
  src: url('fonts/IRSans/IRANSansL.eot?#') format('eot'),   
       url('fonts/IRSans/IRANSansL.woff2') format('woff2'), 
       url('fonts/IRSans/IRANSansL.woff') format('woff'),
       url('fonts/IranSansZ/iransansz-webfont.svg#IranSansZ') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'irsans';
  src: url('fonts/IRSans/IRANSansBL.eot?#') format('eot'),   
       url('fonts/IRSans/IRANSansBL.woff2') format('woff2'), 
       url('fonts/IRSans/IRANSansBL.woff') format('woff'),
       url('fonts/IranSansZ/iransansz-webfont.svg#IranSansZ') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
	font-family: 'Pe7';
	src:url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot');
	src:url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot?#iefix') format('embedded-opentype'),
		url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.woff') format('woff'),
		url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.ttf') format('truetype'),
		url('fonts/Pe7stroke/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.svg?#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SquirrelFont';
	src:url('fonts/SquirrelFont/fonts/SquirrelFont.eot?gujvhg');
	src:url('fonts/SquirrelFont/fonts/SquirrelFont.eot?#iefixgujvhg') format('embedded-opentype'),
		url('fonts/SquirrelFont/fonts/SquirrelFont.woff?gujvhg') format('woff'),
		url('fonts/SquirrelFont/fonts/SquirrelFont.ttf?gujvhg') format('truetype'),
		url('fonts/SquirrelFont/fonts/SquirrelFont.svg?gujvhg#SquirrelFont') format('svg');
	font-weight: normal;
	font-style: normal;
}