@grayDark1: #252525;
@grayDark1-1: #353535;
@grayDark2: #464646;
@grayDark3: #636363;
@grayDark4: #7d7d7d;
@grayDark5: #898989;
@grayDark6: #959595;
@grayLight1: #a1a1a1;
@grayLight2: #b7b7b7;
@grayLight3: #CCCCCC;
@grayLight4: #d7d7d7;
@grayLight5: #E1E1E1;
@grayLight6: #EEEEEE;
@grayLight7: #F5F5F5;
@white: #fff;


@primaryLightestColor: #ACDDC1;
@primaryLightColor: #79a38c;
@primaryColor: #538167;
@primaryDarkColor: #37634A;
@primaryDarkestColor: #1F5436;
/*@secondary1LightestColor: #A1B6C0;
@secondary1LightColor: #7793A0;
@secondary1Color: #597C8D;
@secondary1DarkColor: #3F6679;
@secondary1DarkestColor: #2A5367;
@secondary2LightestColor: #FFEBD4;
@secondary2LightColor: #FDDDB8;
@secondary2Color: #DFB789;
@secondary2DarkColor: #C0925E;
@secondary2DarkestColor: #A4743E;
@complementLightestColor: #FFDDD4;
@complementLightColor: #FDC7B8;
@complementColor: #DF9A89;
@complementDarkColor: #C0725E;
@complementDarkestColor: #A4533E;*/