@font-face {
	font-family: 'SquirrelFont';
	src:url('fonts/SquirrelFont.eot?v1ih1g');
	src:url('fonts/SquirrelFont.eot?#iefixv1ih1g') format('embedded-opentype'),
		url('fonts/SquirrelFont.woff?v1ih1g') format('woff'),
		url('fonts/SquirrelFont.ttf?v1ih1g') format('truetype'),
		url('fonts/SquirrelFont.svg?v1ih1g#SquirrelFont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-socialglyph"], [class*=" icon-socialglyph"] {
	font-family: 'SquirrelFont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-socialglyphRss:before {
	content: "\e601";
}

.icon-socialglyphLogo2:before {
	content: "\e600";
}

