@{
    ViewBag.Title = "مدیریت فایل";
}

<h2>فایل ها</h2>
<hr />

<div class="col-lg-6">
    <div>
        <button type="button" class="btn btn-default" onclick="LoadAddFile()">+</button>
    </div>
    <br />
    <div id="list_con"></div>
</div>

<div class="col-lg-6">
    <div id="option_con_1"></div>
    <div id="option_con_2"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        function LoadAddFile() {
            $.ajax({
                url: '@Url.Action("add")',
                success: function (r) {
                    $('#option_con_1').html(r);
                }
            });
        }

        function LoadUpload() {
            $.ajax({
                url: '@Url.Action("resetupload")',
                success: function (r) {
                    $('#upload_file_con').html(r);
                }
            });
        }
    </script>
}