@Html.Hidden("FileAddress")

<div>
    <div id="upload_control">
        <span>Select file(s) to upload :</span>
        <input id="fileUpload" type="file" multiple="multiple" />
    </div>
    <div id="upload_errormessage" style="color: orangered; display: none;">
        <span></span>
    </div>
    <div id="upload_successmessage" style="color: skyblue; display: none;">
        <span></span>
        <button id="upload_cancel" type="button" onclick="renewUpload()">R</button>
    </div>
    <div id="upload_progress" style="display: none;">
        <p id="uplaod_filename"></p>
        <p id="upload_percent">
            <button id="upload_cancel" type="button" onclick="cancelUpload()">X</button>
            <span></span>
        </p>
    </div>
</div>

<script type="text/javascript">
    var ajaxupload;
    var fileName;

    $(document).ready(function () {
        var timeout;
        $('#fileUpload').bind('change', function () {
            $('#FileAddress').val('');
            fileName = this.files[0].name;
            var extension = this.files[0].name.split('.').pop();
            var size = this.files[0].size;
            ShowUploadMessage('', '');
            timeout = setTimeout(function () {
                CheckFileValidate(extension, size);
            }, 1000);
        });

        $('#stop_upload').click(function () {
            $('#uploadProgress span').text('check stoped.');
            $('#uploadProgress p').text('');
            $('#fileUpload').val('');
            clearTimeout(timeout);
        });

        $('#reset_upload').click(function () {
            $('#uploadProgress span').text('upload stoped.');
            $('#uploadProgress p').text('');
            $('#fileUpload').val('');
            ajaxupload.abort();
        });
    });

    function CheckFileValidate(fileType, fileSize) {
        $.ajax({
            url: '@Url.Action("FileIsValid")',
            data: {
                ext: fileType,
                size: fileSize
            },
            success: function (r) {
                if (r.result == false) {
                    ShowUploadMessage(r.message, '');
                } else if (r.result == true) {
                    $('#upload_control').hide();
                    $('#uplaod_filename').text(fileName);
                    $('#upload_percent span').text('0');
                    $('#upload_progress').show();
                    UploadFile();
                }
            }
        });
    }

    function UploadFile() {
        var file = document.getElementById('fileUpload').files[0];
        var formData = new FormData();
        formData.append("ufile", file);
        $('#fileUpload').val('');

        ajaxupload = $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", progressHandler, false);
                return xhr;
            },
            url: '@Url.Action("upload", "files", new {area = "author"})',
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            error: function () {
                renewUpload();
            },
            success: function (r) {
                renewUpload();
                setTimeout(function () {
                    if (r.result == true) {
                        $('#FileAddress').val(r.path);
                        ShowUploadMessage('', r.message);
                    }
                    else if (r.result == false) {
                        ShowUploadMessage(r.message, '');
                    }
                }, 100);
            }
        });
    }

    function progressHandler(evt) {
        var percent = (evt.loaded / evt.total) * 100;
        $('#upload_percent span').text(percent);
    }

    function ShowUploadMessage(error, success) {
        $('#upload_errormessage').hide();
        $('#upload_successmessage').hide();
        if (error != '') {
            $('#upload_errormessage span').text(error);
            $('#upload_errormessage').show();
        }
        if (success != '') {
            $('#upload_successmessage span').text(success);
            $('#upload_successmessage').show();
        }
    }

    function cancelUpload() {
        ajaxupload.abort();
        renewUpload();
    }

    function renewUpload() {
        $('#upload_errormessage').hide();
        $('#upload_successmessage').hide();
        $('#upload_progress').hide();
        $('#fileUpload').val('');
        $('#FileAddress').val('');
        $('#upload_control').show();
    }
</script>
