@{
    ViewBag.Title = "مدیریت کاربری";
}

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    <div class="box-uptitle">
        <div class="text">اطلاعات کاربری شما</div>
        <div class="clearbox"></div>
    </div>
    <div class="flatbox" id="profile_details"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            loadProfileDetails();
        });

        function loadProfileDetails() {
            $.ajax({
                url: '@Url.Action("Details", "Profile")',
                success: function(r) {
                    $('#profile_details').html(r);
                },
            });
        }

        function loadEditProfile() {
            $('#profile_edit_form_con').show();
            $('#profile_edit_button').hide();
        }

        function cancelEditProfile() {
            $('#Firstname').val($('#Firstname').attr('data-checkpoint'));
            $('#Lastname').val($('#Lastname').attr('data-checkpoint'));
            $('#edit_profile_form').valid();
            $('#profile_edit_button').show();
            $('#profile_edit_form_con').hide();
        }

        function onEditProfileError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام ویرایش پروفایل خطا رخ داد.', 'error');
        }

        function onEditProfileSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                loadProfileDetails();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function onAvatarProfileError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام ویرایش آواتار خطا رخ داد.', 'error');
        }

        function onAvatarProfileSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                loadProfileDetails();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        /////////////////////////
        /////////////////////////
        /////////////////////////
        /////////////////////////
        /////////////////////////

        function LoadEdit() {
            $('#editable_info_diplay').hide();
            $('#editable_info_form').show();
        }

        function CancelEdit() {
            $('#editable_info_diplay').show();
            $('#editable_info_form').hide();
            $('#editable_info_form #internal_message').text('');

            var $firstName = $('#editable_info_form input[type="text"]#Firstname');
            $firstName.val($firstName.attr('def-val'));

            var $lastName = $('#editable_info_form input[type="text"]#Lastname');
            $lastName.val($lastName.attr('def-val'));
        }

        function onEditSuccess(data) {
            if (data.result == true) {
                loadProfileDetails();
            } else {
                $('#editable_info_form #internal_message').text(data.message);
            }
        }

        function loadChangeAvatar() {
            $.ajax({
                url: '@Url.Action("Avatar", "Profile")',
                success: function (r) {
                    $('#option_con_1').html(r);
                },
            });
        }

        function onChangeAvatarSuccess(data) {
            if (data.result == true) {
                loadProfileDetails();
                $('#option_con_1').text(data.message);
            } else {
                $('#profile_avatar_error').text(data.message);
            }
        }
    </script>
}