@{
    ViewBag.Title = "مدیریت پروفایل";
}

<div class="col-lg-12">
    <h2>پروفایل</h2>
    <hr />
</div>

<div class="col-lg-6">
    <div id="profile_details"></div>
</div>

<div class="col-lg-6">
    <div id="option_con_1"></div>
    <div id="option_con_2"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            LoadDetails();
        });

        function LoadDetails() {
            $.ajax({
                url: '@Url.Action("Details", "Profile")',
                success: function(r) {
                    $('#profile_details').html(r);
                },
            });
        }

        function LoadEdit() {
            $('#editable_info_diplay').hide();
            $('#editable_info_form').show();
        }

        function CancelEdit() {
            $('#editable_info_diplay').show();
            $('#editable_info_form').hide();
            $('#editable_info_form #internal_message').text('');

            var $firstName = $('#editable_info_form input[type="text"]#Firstname');
            $firstName.val($firstName.attr('def-val'));

            var $lastName = $('#editable_info_form input[type="text"]#Lastname');
            $lastName.val($lastName.attr('def-val'));
        }

        function onEditSuccess(data) {
            if (data.result == true) {
                LoadDetails();
            } else {
                $('#editable_info_form #internal_message').text(data.message);
            }
        }

        function loadChangeAvatar() {
            $.ajax({
                url: '@Url.Action("Avatar", "Profile")',
                success: function (r) {
                    $('#option_con_1').html(r);
                },
            });
        }

        function onChangeAvatarSuccess(data) {
            if (data.result == true) {
                LoadDetails();
                $('#option_con_1').text(data.message);
            } else {
                $('#profile_avatar_error').text(data.message);
            }
        }
    </script>
}