@using Squirrel.Domain.Enititis
@using Squirrel.Web.Models
@{
    ViewBag.Title = "وبلاگ شخصی";
    List<Topic> topTopics = ViewBag.TopTopics;
}

@if (topTopics != null && topTopics.Count >= 3)
{
    <div class="col-md-12 hidden-sm hidden-xs">
        <div class="row top-topics">
            @Html.Partial("Index_TopTopics", topTopics)
        </div>
    </div>
}

<div class="col-md-8" id="t_page">
    <div class="home-lasttopics" id="home_lasttopics_con">
        @Html.Partial("Index_TopicItems", CachedAppData.LastPublishedTopics.Items.Skip(0).Take(5).ToList())
    </div>
</div>

<div class="col-md-4 hidden-sm hidden-xs">
    <div class="sidebar">
        @Html.Partial("~/Views/Shared/Sidebar/Sidebar.cshtml")
    </div>
</div>
