@using Squirrel.Domain.ExtensionMethods
@using Squirrel.Web.Models
@{
    ViewBag.Title = "وبلاگ شخصی";
    var headerImage = CachedAppData.LastPublishedTopics.Items.First().ImageAddress();
}

@if (!string.IsNullOrEmpty(headerImage))
{
    @Html.Partial("Index_TopTopic", CachedAppData.LastPublishedTopics.Items.First())
}

<div class="col-md-8">
    @Html.Partial("Index_TopicItems", headerImage)
</div>

<div class="col-md-4 hidden-sm hidden-xs">
    <div class="sidebar">
        <div class="line-box">
            <p>1212</p>
            <p>1212</p>
            <p>1212</p>
            <p>1212</p>
        </div>
    </div>
</div>