@using Squirrel.Domain.ExtensionMethods
@model List<Squirrel.Domain.Enititis.Topic>

@{
    var counter = 1;
}

@foreach (var topic in Model)
{
    var item = topic;
    var className = "";
    if (counter == 2)
    {
        className = "center";
    }

    <a class="item @className" href="@Url.Action("Index", "Issue", new { id = item.IssueId })">
        <div class="title">
            <div class="text">
                <span>
                    @Html.DisplayFor(m => item.Title)
                </span>
            </div>
        </div>
        <div class="image" style="background-image:url('@Url.Content(item.ImageAddress())')">
        </div>
    </a>

    counter++;
}