@model Squirrel.Domain.Enititis.Post

<div>@Html.DisplayFor(m => m.Topic.Title)</div>
<div>c : @Html.DisplayFor(m => m.CreateDate)</div>
<div>p : @Html.DisplayFor(m => m.PublishDate)</div>
<div>@Html.DisplayFor(m => m.Abstract)</div>
