@using Squirrel.Domain.ViewModels
@model List<Squirrel.Domain.Enititis.Comment>

@foreach (var comment in Model)
{
    <div style="border: 1px solid #ddd; margin-top: 10px; padding: 10px;" id="@string.Format("citem_{0}",comment.Id)">
        @Html.Partial("SearchItem", comment)
    </div>
}

@if (ViewBag.Paging != null)
{
    @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
}
