@{
    ViewBag.Title = "سیستم لاگ";
}

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    @Html.Partial("SearchFilter")
</div>

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    <div id="list_con"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            beginSearchLog(1);
        });

        function beginSearchLog(p) {
            $('#searchPage').val(p);
            $('#log_search_from').submit();
        }

        function reloadSearchLog() {
            $('#log_search_from').submit();
        }

        function onSearchLogSuccess(data) {
            $('#list_con').html(data);
        }

        function loadLogDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Logs")',
                data: { id: id },
                error: function () {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام نمایش جزئیات لاگ خطا رخ داد.', 'error');
                },
                success: function (data) {
                    fillSecondryContent(data);
                    showSecondryContent();
                }
            });
        }

        function loadCleanLogs() {
            $.ajax({
                url: '@Url.Action("Clean", "Logs")',
                error: function () {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام بارگذاری خطا رخ داد.', 'error');
                },
                success: function (data) {
                    fillSecondryContent(data);
                    showSecondryContent();
                }
            });
        }

        function onCleanLogError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام پاک کردن لاگ ها خطا رخ داد.', 'error');
        }

        function onCleanLogSuccess(data) {
            if (data.result == true) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                beginSearchLog(1);
                hideAndClearSecondryContent();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }
    </script>
}