@using Squirrel.Domain.ViewModels
@model List<CategoryTreeModel>

<div class="box-uptitle">
    <div class="text">نمایش درختی گروهها</div>
    <div class="links">
        <a class="button small tile" onclick="loadAddForm()">
            <span class="glyphbox"></span>
        </a>
    </div>
    <div class="clearbox"></div>
</div>
<div class="flatbox categories-tree">
    @Html.Partial("Tree_Item")
</div>