@model Squirrel.Domain.Enititis.Topic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.DisplayFor(m => m.Title)
</div>

<div>
    @Html.DisplayFor(m => m.PublishDate)
</div>

<hr />

@foreach (var post in Model.Posts)
{
    var item = post;
    <p>
        @Html.DisplayFor(m => item.CreateDate)
    </p>
}
