@model ICollection<Squirrel.Domain.Enititis.Tag>

@foreach (var tag in Model.OrderBy(x => x.Name))
{
    var item = tag;
    <div class="tag">
        @Html.DisplayFor(m => item.Name)
    </div>
}
<div class="clearbox"></div>