@model ICollection<Squirrel.Domain.Enititis.File>

@foreach (var file in Model)
{
    var item = file;
    <div class="file">
        <span class="glyphbox">&#xe65c</span>
        <span class="name">@Html.DisplayFor(m => item.Name)</span>
    </div>
}
<div class="clearbox"></div>