@using Squirrel.Domain.Enititis
@model Squirrel.Domain.ViewModels.PostEditModel

@{
    ViewBag.Title = "ویرایش مطلب";
    Post thisPost = ViewBag.CurrentPost;
}

عنوان :
<span id="topic_title">@Html.DisplayFor(m => thisPost.Topic.Title)</span>
<button type="button" onclick="loadTopics(1)">تغییر</button>

<div id="change_topic_con">
    <div class="change-topic">
        <p>عنوان مورد نظر را انتخاب کنید.</p>
        <div id="change_topic"></div>
        <button type="button" onclick="$('#change_topic_con').hide();">بستن</button>
    </div>
</div>

<style type="text/css">
    #change_topic_con {
        position: fixed;
        z-index: 10000;
        background-color: #000000;
        background-color: rgba(0,0,0,.8);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        /*display: flex;*/
        display: none;
        align-items: center;
        justify-content: center;
    }

        #change_topic_con .change-topic {
            background-color: #fff;
            width: 80%;
            padding: 20px 30px;
        }

            #change_topic_con .change-topic tr:hover td {
                background-color: #eee;
            }
</style>