@model Squirrel.Domain.ViewModels.PostEditModel

<div class="box-uptitle">
    <div class="text">برچسب ها</div>
    <div class="clearbox"></div>
</div>
<div class="flatbox">
    @{
        var style1 = "";
        var style2 = "";
        if (Model.Tags.Any())
        {
            style2 = "display: none;";
        }
        else
        {
            style1 = "display: none;";
        }
    }
    <div class="tags-list tags-con-box" style="@style1">
        @foreach (var tag in Model.Tags)
        {
            var item = tag;
            <span class="item">@Html.DisplayFor(m => item)</span>
        }
    </div>
    <div class="no-content" id="tags_nocontent" style="margin-bottom: 10px; @style2">
        موردی وجود ندارد.
    </div>
    <div class="divider-blank15"></div>
    <div class="full-line"></div>
    <div class="input-con">
        <div class="form-row">
            @Html.TextBox("addTagBox", null, new { @class = "textbox" })
        </div>
        <div class="divider-blank15"></div>
        <div>
            <button type="button" class="button submit small" onclick="addTag()">افزودن</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#addTagBox').on('keypress', function (e) {
            if (e.keyCode == 13) {
                addTag();
            }
        });

        $('.tags-con-box').on('click', '.item', function () {
            removeTag($(this).text().trim());
            $(this).remove();
            if ($('.tags-con-box .item').length == 0) {
                $('.tags-con-box').hide();
                $('#tags_nocontent').show();
            }
        });
    });

    function addTag() {
        var tags = $('#FlatedTags').val();
        var tag = $('#addTagBox').val().replace("#", "").trim();
        if (tag != '' && tags.toLowerCase().search('#' + tag.toLowerCase() + '#') == -1) {
            tags += tag + '#';
            var html = '<span class="item">' + tag + '</span>';

            if ($('.tags-con-box .item').length == 0) {
                $('.tags-con-box').show();
                $('#tags_nocontent').hide();
            }
            $('.tags-con-box').append(html);
            $('#FlatedTags').val(tags);
        }
        $('#addTagBox').val('').focus();
    }

    function removeTag(name) {
        var tags = $('#FlatedTags').val();
        var thisTag = "#" + name + "#";
        tags = tags.replace(thisTag, "#");
        $('#FlatedTags').val(tags);
    }
</script>