@using Squirrel.Domain.ViewModels
@using Squirrel.Utility.FarsiTools
@model List<Squirrel.Domain.Enititis.Topic>
@{
    var counter = 0;
}

@if (Model.Any())
{
    <div class="col-md-12">
        <div class="flatbox">
            @foreach (var topic in Model)
            {
                var item = topic;
                counter++;

                <div class="item">
                    @if (item.IsPublished)
                    {
                        <span class="glyphbox published">&#xe66c</span>
                    }
                    else
                    {
                        <span class="glyphbox unpublished">&#xe681</span>
                    }

                    <a class="text" onclick="showTopicDetails('@item.Id')">@Html.DisplayFor(x => item.Title).FaDigit()</a>
                </div>
                if (counter != Model.Count)
                {
                    <div class="hline"></div>
                }
            }
            @if (ViewBag.Paging != null)
            {
                <div class="hline"></div>
                <div class="divider-blank15"></div>
                @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
            }
        </div>

        <div class="divider-blank20"></div>
    </div>
}
else
{
    <div class="col-lg-12">
        <div class="flatbox">
            <div class="no-content">
                موردی وجود ندارد.
            </div>
        </div>
    </div>
}