@using Squirrel.Utility.FarsiTools
@model Squirrel.Domain.Enititis.Topic

<div>@Html.DisplayFor(m => m.Title)</div>
<div style="font-size: 11px; margin-top: 15px;">
    [@Html.DisplayFor(m => m.IssueId)]

    <span style="margin-left: 5px;">
        C:@(((PersianDate)Model.CreateDate).ToStringDateTime())
    </span>

    @if (Model.PublishDate.HasValue)
    {
        <span style="margin-left: 5px;">
            P:@(((PersianDate)Model.PublishDate.Value).ToStringDateTime(timeFormat: PersianTimeFormat.HH_MM_SS))
        </span>
    }

    <span style="margin-left: 5px;">
        G:@Html.DisplayFor(m => m.Category.Name)
    </span>

    <span style="margin-left: 5px;">
        V:@Html.DisplayFor(m => m.View)
    </span>

    <span style="margin-left: 5px;">
        P:@Model.Posts.Count()
    </span>

    <button type="button" class="btn btn-default" style="margin-left: 5px;" onclick="loadEditTopic('@Model.Id')">ویرایش</button>
    <button type="button" class="btn btn-default" style="margin-left: 5px;" onclick="loadTopicPosts('@Model.Id')">مطالب</button>
    <button type="button" class="btn btn-default" style="margin-left: 5px;">حذف</button>
</div>

