@{
    ViewBag.Title = "مدیریت کاربران";
}

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    @Html.Partial("SearchFilter")
</div>

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    <div id="list_result"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            searchingUser(1);
        });

        function searchingUser(page) {
            $('#searchPage').val(page);
            $('#user_search_from').submit();
        }

        function reloadSearchingUser() {
            $('#user_search_from').submit();
        }

        function loadAddUser() {
            $.ajax({
                url: '@Url.Action("Add", "Users")',
                error: function() {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام بارگذاری فرم افزودن کاربر خطا رخ داد.', 'error');
                },
                success: function(data) {
                    fillSecondryContent(data);
                    showSecondryContent();
                }
            });
        }

        function onAddUserError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام افزودن کاربر خطا رخ داد.', 'error');
        }

        function onAddUserSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                hideAndClearSecondryContent();
                searchingUser(1);
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadUserDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Users")',
                data: { id: id },
                error: function () {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام بارگذاری اطلاعات کاربر خطا رخ داد.', 'error');
                },
                success: function (data) {
                    fillSecondryContent(data);
                    showSecondryContent();
                }
            });
        }

        function loadEditUser() {
            checkpointSecondryContent();
            fillSecondryContent($('#edit_user_form_con').html());
        }

        function onEditUserError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام ویرایش کاربر خطا رخ داد.', 'error');
        }

        function onEditUserSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                loadUserDetails(data.id);
                reloadSearchingUser();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadResetPassUser() {
            checkpointSecondryContent();
            fillSecondryContent($('#chnagepass_user_form_con').html());
        }

        function onResetPassUserError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام تغییر پسورد کاربر خطا رخ داد.', 'error');
        }

        function onResetPassUserSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                loadUserDetails(data.id);
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadRemoveUser() {
            showPopupAlert("آیا مطمئن هستید که این کاربر پاک شود؟", '$("#user_remove_form").submit();', '');
        }

        function onRemoveUserError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام حذف کاربر خطا رخ داد.', 'error');
        }

        function onRemoveUserSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                reloadSearchingUser();
                hideAndClearSecondryContent();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }
    </script>
}