@using System.Globalization
@model Squirrel.Domain.ViewModels.PagingModel

<div>
    @for (var i = 1; i <= Model.PageCount; i++)
    {
        var onClickFunc = Model.PagingMethod.Replace("#", i.ToString(CultureInfo.InvariantCulture));
        if (i == Model.CurrentPage)
        {
            <span style="color: gainsboro;">@i</span>
        }
        else
        {
            <span onclick="@onClickFunc">@i</span>
        }

    }
</div>
