<div class="col-lg-2 col-lg-push-2 col-sm-3 col-xs-6">
    <div class="squarebox panel-tile">
        <div class="content">
            <div class="image">
                <span class="glyphbox">&#xe691</span>
            </div>
            <div class="divider"></div>
            <div class="text">
                <span>انتشار</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="divider-blank30"></div>
    </div>
</div>

<div class="col-lg-2 col-lg-push-2 col-sm-3 col-xs-6">
    <div class="squarebox panel-tile">
        <div class="content">
            <div class="image">
                <span class="glyphbox">&#xe66d</span>
            </div>
            <div class="divider"></div>
            <div class="text">
                <span>نظرات</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="divider-blank30"></div>
    </div>
</div>

<div class="col-lg-2 col-lg-push-2 col-sm-3 col-xs-6">
    <div class="squarebox panel-tile">
        <div class="content">
            <div class="image">
                <span class="glyphbox">&#xe67d</span>
            </div>
            <div class="divider"></div>
            <div class="text">
                <span>گروهها</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="divider-blank30"></div>
    </div>
</div>

<div class="col-lg-2 col-lg-push-2 col-sm-3 col-xs-6">
    <div class="squarebox panel-tile">
        <div class="content">
            <div class="image">
                <span class="glyphbox">&#xe65b</span>
            </div>
            <div class="divider"></div>
            <div class="text">
                <span>فایلها</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="divider-blank30"></div>
    </div>
</div>
